/*by-our-product*/

.product-section {
  background-color: var(--background-black);
  width: 1200px;
}

.product {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  text-align: center;
  display: flex;
  min-height: 600px;
  align-items: center;
  justify-content: center;

  background-color: var(--background-black);
  color: var(--white-color);
}

.product-item {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

.product-link {
  background-color: var(--hover-allblue);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

/*stydio-skills*/

.skills-item {
  min-height: 365px;
}

.skills-container {
  display: flex;
  width: 1200px;
  text-align: left;

  padding: 0px 15px;
  margin: 0 auto;
}

.skiills-colon {
  text-align: left;
}

.skills-position {
  display: flex;
  margin-top: 175px;
}

.skills-position li:not(:first-child) {
  margin-left: 30px;
}

.skills-title,
.skills-text {
  margin: 0;
}

.skills-title {
  display: inline-block;

  color: var(--teg-h-navigation);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.skills-text {
  display: inline-block;

  color: var(--text-color);
  font-size: 14px;
  line-height: 24px;
}

/* work-section*/

.work-container {
  width: 1200px;

  padding: 0px 15px;
  margin: 0 auto;
  align-items: center;
}

.work-title {
  text-align: center;
  margin-bottom: 50px;

  color: var(--teg-h-navigation);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.work-image {
  display: flex;
}

.work-image li:not(:first-child) {
  margin-left: 20px;
}

/*our-team*/

.team {
  min-height: 650px;
  background-color: var(--ourteam-background);
}

.team-container {
  width: 1200px;

  padding: 0px 15px;
  margin: 0 auto;
  align-items: center;
}

.team-title {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: var(--teg-h-navigation);
}

.team-foto {
  display: flex;
  flex-wrap: nowrap;
}

.team-foto li:not(:first-child) {
  margin-left: 30px;
}

.team-card {
  text-align: center;

  background-color: var(--white-color);
}

.personal-foto {
  margin-bottom: 30px;
}

.team-names {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--teg-h-navigation);
}

.team-professions {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 19px;
}

.team-names,
.team-professions {
  background-color: var(--white-color);
}
